<%- include ./components/header %>
<main id="mainContainer" class="text-center pt-5">
    <div class="container-fluid" id="userInfoContainer" class="bg-secondary">
          
    </div>
    <div  id="friendRequestContainer">
        <h5>Friend Request</h5>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="nonFriendsUsersContainer">
                <h5>Add Friend</h5>
            </div>
            <div class="col-md-8" id="postsContainer">
                <h1>Posts</h1>
            </div>
            <div class="col-md-2" id="onlinesContainer">
                <h1>Onlines</h1>
                <div id="nowOnlinesContainer">
    
                </div>
                <div id="privateMessagesContainer"></div>
            </div>
        </div>
    </div>
</main>
<%- include ./components/footer %>